.heroSection{
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
    background-color: azure;

}
.heroSection> div > h1{
    color: #4d4d4d;
    font-weight: bolder;
    font-size: 45px;

}
@media screen and (max-width: 726px) {
    .heroSection img {
        display: none;
    }
}
